
{{>user-profile}}
<div id="post-container">

    {{#if posts.length}}

    <h2 class="text-accent text-xl my-10"> Your Posts</h2>

    {{#each posts as |post|}}
        <div class="collapse collapse-arrow shadow-xl pb-5">
            <input type="radio" name="my-accordion-2" checked="checked" />
            <div class="collapse-title text-xl font-medium">
                {{title}}
            </div>
            <div class="collapse-content">
                <div>Created On: {{post_date}}</div>
                {{#if last_update_date}}
                    Last Updated On: {{last_update_date}}
                {{/if}}
                <div class="line-clamp-3 my-8">{{{content}}}</div>
            </div>
            <div class="flex justify-start gap-5">
                <button class="btn btn-warning text-accent-content update" data-id={{ id }}>Update Post</button>
                <button class="btn btn-error text-accent-content delete" data-id={{ id }}>Delete Post</button>
            </div>
            
        </div>
    {{/each}}

    {{else}}
        <h2 class="text-accent text-xl my-10"> You currently don't have any articles posted!</h2>
    {{/if}}
</div>

    
    <div class="flex justify-center mb-14">
        <button class="btn btn-accent text-accent-content create my-8" data-id={{ id }}>Create New Post</button>
    </div>
        

<script src="/scripts/dashboard.js" type="application/javascript"></script>